html {
    overflow: hidden;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, serif;
}

body {
    background-color: #04021d;
    color: #f3e0c1;
    height: 100%;
    width: 100%;
    margin: 0;
}

h3 {
    justify-self: center;
}

iframe {
    margin: 0;
    border: none;
}

/* Button Bar */

.bottom-bar {

}

.top-row {
    display: none;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.navButton {
    height: 65px;
    width: 65px;
    border-radius: 5px;
    background-color: #838883;
    color: #f3e0c1;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.navButton:hover {
    background-color: #727572;
}

.navButton:disabled {

}

.hiddenButton {
    visibility: hidden;
}

/* ERIDS */

.erids {
    height: 75%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.embedWindow {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: none;
}

.bottom-bar {
    height: 25%;
}