@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

/* 

File log:
7/9/2023, we lost the fucking scroll bar
7/12/2023 rename repo: frontend

*/

body {
    margin: 0;
    overflow: hidden;
    width: 100%;
}

html {
    margin: 0;
    /* no scroll :( */
}

h2 {
    margin: auto;
}


#header {

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#184067+0,050d15+100 */
background: #184067; /* Old browsers */
background: -moz-linear-gradient(top,  #184067 0%, #050d15 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #184067 0%,#050d15 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #184067 0%,#050d15 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#184067', endColorstr='#050d15',GradientType=0 );

display: flex;
flex-direction: row;
justify-content: space-between;
height: 10%;
padding: 10px;
font-family: sans-serif;

/* IE6-9 */
}

#headerTitle {
    height: 5%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    color: white;
}


#artccList {
    width: 100%;
    writing-mode: horizontal-tb;
    float: left;
}

#artccListTitle {
    background: #ffffff;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    color: rgb(0, 0, 0);
    font-size: 44px;
    height: 3%;
    margin: 0;
    text-align: center;
    font-family: "Inter", sans-serif;
}

#artccButtons {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.artccButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    height: auto;
    width: auto;
    margin-bottom: 2em;
    margin-inline-start: 10%;
    margin-inline-end: 10%;
}

.artccBtn {
    color:black;
    background: #ffffff;
    border-color: black;
    border-width: 3px;
    height: auto;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    width: 100%;
}

.artccBtn:hover {
    color:darkred;
    border-color: darkred;
    cursor: pointer;
}

.artccButtonSpecial {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    height: auto;
    width: auto;
    margin-bottom: 1em;
    margin-inline-start: 30.7%;
    margin-inline-end: 30.7%;
}

.anchor {
    color:black;
}

.anchor:link {
    color:black;
}

/*modals*/

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal {
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* transform: translate(-50%, -50%); */
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.modal-body {
    color:black;
    background: #ffffff;
    border-color: black;
    border-width: 3px;
    height: auto;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    width: auto;
    margin-bottom: 1em;
}

.modal-button {
    color:black;
    background: #ffffff;
    border-color: black;
    border-width: 3px;
    height: auto;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    width: auto;
}

.modal-button:hover {
    cursor: pointer;
}

.modal-footer {
    color:black;
    background: #ffffff;
    border-color: black;
    border-width: 3px;
    height: auto;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    width: auto;
}

.modal-footer:hover {
    cursor: default;
}