@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

/* 

File log:
7/9/2023, we lost the fucking scroll bar

*/

body {
    margin: 0;
    overflow: hidden;
    width: 100%;
}

html {
    margin: 0;
    /* no scroll :( */
}

h2 {
    margin: auto;
}

.indexButton {
    background-color:gray;
    color: black;
    border: none;
    font-size: 16px;
    width: 200px;
    height: 60px;
    transition-duration: .7s;
    border-radius: 10px;
}

.indexButton:hover {
    background-color: #b3b3b3;
    border: 2px solid #b3b3b3;
    color: black;
    cursor: pointer;
    transition-duration: .7s;
    border-radius: 10px;
}

#welcomeBody {
    background-color: lightgray;
}

#description {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color: black;
}

#header {

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#184067+0,050d15+100 */
background: #184067; /* Old browsers */
background: -moz-linear-gradient(top,  #184067 0%, #050d15 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #184067 0%,#050d15 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #184067 0%,#050d15 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#184067', endColorstr='#050d15',GradientType=0 );

display: flex;
flex-direction: row;
justify-content: space-between;
height: 10%;
padding: 10px;
font-family: sans-serif;

/* IE6-9 */
}

#headerTitle {
    height: 5%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

#artccFacilities {
    width: 100%;
    writing-mode: horizontal-tb;
}

#leftSide {
    width: 33%;
    writing-mode: horizontal-tb;
    float: left;
}

#leftSideTitle {
    background: #ffffff;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    color: rgb(0, 0, 0);
    font-size: 44px;
    height: 3%;
    margin: 0;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.leftSideBody {
    color: #000000;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    margin: 1.7%;
    background:none;
    border:0px
}

.leftSideList {
    background: #ffffff;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    margin-left: 27%;
    text-align: left;
    overflow: auto;
    max-height: 100vh;
    list-style-type: none
}

.leftSideBody:hover {
    cursor:pointer;
}

#middle {
    width: 100%;
    height: 100%;
    writing-mode: horizontal-tb;
}

#middleTitle {
    background: #ffffff;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    color: rgb(0, 0, 0);
    font-size: 44px;
    height: 80%;
    margin: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

#middleBody {
    color: #000000;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    margin-inline-start: 50%;
    flex-direction: row;
    direction: ltr;
}
