::-webkit-scrollbar {
    width: 50px;
}

::-webkit-scrollbar-track {
    background: #6b6b32;
}

::-webkit-scrollbar-thumb {
    background: #252703;
}

::-webkit-scrollbar-button {
    background: #252703;
}