::-webkit-scrollbar {
    width: 35px;
}

::-webkit-scrollbar-track {
    background: #6b6b32;
}

::-webkit-scrollbar-thumb {
    background: #252703;
    border: 1px solid #797938;
}

::-webkit-scrollbar-button {
    background: #252703;
    height: 35px;
    border: 1px solid #797938;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-position: center 1px;
    background-image: url("triangle.png");
}